{% extends "base_template.html" %}

{% from "_formhelpers.html" import render_field %}

{% block content %}
<div>
    Hey! You've been invited to add to a poem!
    <br/><br/>
    ...
    <br/>
    {{ hint }}
    <form method=post>
    <dl>
        {{ render_field(form.text) }}
        {{ render_field(form.your_email) }}
        {% if not is_last_segment %}
            {{ render_field(form.next_email) }}
        {% endif %}
    </dl>
    <p><input type=submit value=Create>
    </form>
</div>
{% endblock content %}